article.card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:#fff;
}

.hidden{
    display:none;
    visibility:hidden;
}
article.card {
    width: 100%;
    height: 300px;
    padding:32px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    border:3px solid #604735;
    border-radius:25px;
    transition: all 0.3s ease-in-out;
}

article.card:hover{
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to bottom right, #604634, #191511);
}
.specialitie-title{
    margin-bottom:12px;
    font-size:24px;
}
.specialitie-subtitle{
    font-size:15px;
}

article.card ul{
    text-align:center;
    text-decoration:none;
    list-style-type: none;
    margin-top:12px;
}
.card-social-midia {
    background-image: url('../../../assets/specialities/social-media-gestao-de-redes-sociais.jpg');
}

.card-analysis {
    background-image: url('../../../assets/specialities/analise-de-posicionamento.jpg');
}

.card-consultancy {
    background-image: url('../../../assets/specialities/consultoria-digital-boss.jpg');
}

.card-mentoring {
    background-image: url('../../../assets/specialities/mentoria-boss-power.jpg');
}

.card-branding {
    background-image: url('../../../assets/specialities/branding-criacao-de-logotipo.jpg');
}

.card-business {
    background-image: url('../../../assets/specialities/calendario-de-conteudo.jpg');
}

@media screen and (max-width: 1150px) {
    article.card {
        width:90%;
        height: 200px;
    }
    .specialitie-content{
        font-size:12px;
    }
}