.specialties-components {
    padding: 100px 0px;
    background-color: var(--brown-dark);
}

.specialties-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.specialties-panel {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.specialties-panel h1 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 300;
}

.specialties-panel-extra-bold {
    font-weight: 700;
}

.specialties-panel-arrow {
    width: 225px;
    border: 1px solid var(--red-1);
}

.specialties-grid-items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 100px;
}

@media screen and (max-width: 1150px) {
    .specialties-components {
        padding: 20px;
    }

    .specialties-content-container {
        gap: 20px;
    }

    .specialties-grid-items {
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items:center;
    }

    .specialties-panel-arrow {
        width: 150px;
    }

}

@media(max-width:400px){
    .specialties-panel{
        text-align:center;
    }
    article.card {
        padding:6px;
    }
    .specialitie-title{
        font-size:18px;
    }
}