:root {
    --white: #FFFFFF;
    --gray-light-1: #F6F1EC;
    --gray-light-2: #E2D9D1;
    --gray-light-3: #EEEEEE;
    --brown: #473528;
    --brown-dark: #171410;
    --brown-light: #654A37;
    --linear-red-1: #990101;
    --linear-red-2: #DB0101;
    --red-1: #A00101;
    --red-2: #CE7F7F;
    --red-3: #DA0101;
    --red-4: #D90101;
    --gold: #ECBC81;
    --yellow: #FFCC5C;
    --linear-brown-1: #8e624a;
    --linear-brown-2: #b47b5b;
    --light-brown:#cd9574;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
  color:inherit;
  text-decoration:none;
}