.footer-component {
    background-image: linear-gradient(var(--linear-brown-2), #643b2b); 
    padding:2em .5em;
}

.footer-content-container {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
}
.footer-content-container p{
  margin-bottom:12px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    width: 280px;
    object-fit: contain;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
}

.footer-contact h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-contact p {
    font-weight: 300;
}

.footer-contact-item {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-copyright {
    color: var(--gray-light-3);
    font-weight: 200;
}

.copyright-diagonal {
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
}

