.bonus-components {
    display:flex;
    justify-content: center;
    padding: 100px 0px;
    background-color: var(--brown-dark);
    color:#fff;
}

.bonus-container{
    background-color:#0E0C0A;
    max-width:728px;
    padding:32px 64px;
    border-radius:16px;
}
.bonus-title-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    margin-bottom:16px;
}
.bonus-title-container h1{
    font-weight:400;
}
.bonus-title-container span{
    font-weight:700;
}
.bonus-panel-arrow {
    width: 330px;
    margin:32px 0;
    border: 1px solid var(--red-1);
}


.bonus-time-row{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom:64px;
}
.bonus-time-col{
    background-color: var(--yellow);
    color:#DD0000;
    text-align:center;
    border-radius:16px;
    padding:4px 12px;
}

.bonus-time-col span{
    font-size:128px;
}

.bonus-list-container ul{
    list-style: none; 
    padding: 0;  
    margin-bottom:64px;
}
.bonus-list-container ul li:first-child{
    padding-right:40%;
}
.bonus-list-container li{
    font-size:22px;
    font-weight:700;
    position: relative;
    padding-left: 30px;
    margin:12px 0;
    padding-right:100px;
}

.bonus-list-container ul li:before {
    content: "";  
    display: inline-block;  
    width: 20px; 
    height: 20px; 
    background-color: #DD0000;
    border-radius: 50%;  
    position: absolute;  
    left: 0;  
    top: 50%;  
    transform: translateY(-50%); 
}


.bonus-price-container{
    width:100%;


    text-align:center;
    padding:64px 16px;
    border-radius:16px;
    background-color: var(--yellow);
}

.bonus-price-content-container{
    margin-bottom:32px;
}

.bonus-old-price{
    text-decoration: line-through;
    color: #654A37;
    font-size:40px;
    font-weight:bold;
}

.bonus-current-price{
    font-size:64px;
    font-weight:bold;
    color:#DD0000;
}

.bonus-portion-price{
    font-size:32px;
    font-weight:bold;
    color:#171410;
}

.bonus-price-button{
    font-size:28px;
}

@media (max-width:768px){
    .bonus-time-col span{
        font-size:54px;
    }
    .bonus-list-container ul li,     .bonus-list-container ul li:first-child{
        padding-right:0;
    }
}
@media (max-width:415px){
    .bonus-time-col span{
        font-size:64px;
    }
    .bonus-container{
        max-width:90%;
        padding:5px;
    }
    .bonus-old-price{
        font-size:1.5rem;
    }
    .bonus-current-price{
        font-size:3rem;
    }
    .bonus-panel-arrow {
        width: 90%;
        margin:32px 0;
        border: 1px solid var(--red-1);
    }
    .bonus-price-button{
        font-size:16px;
    }
}

@media(max-width:360px){

    .bonus-time-row{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:5px;
    }
    .bonus-time-col{
        width:50%;
    }
}